.heroC {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/imgs/img1.jpg); */
    background-image: linear-gradient(to right, #2c3e50 , #000000);

    /* background-position: center; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: aliceblue;
}